:host{
  width: 100%;
  input {
    font-size: 120%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: block;
    padding: 0.6em 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
}

