<div [ngClass]="withPromo">
  <img [src]="'http://' + product.image" />
  <h3>{{ product.brand }}</h3>
  <p>{{ product.description }}</p>
  <h4>{{ product.price | currency:'CLP' }}</h4>
  <div *ngIf="product.promotion" class="promotion-details">
    <h4>{{ product.price | currency:'CLP' }}</h4>
    <i class="promotion {{ product.promotion.type }}">{{
      product.promotion.description
    }}</i>
    <h4>{{ product.promotion.price | currency:'CLP' }}</h4>
  </div>
</div>

