:host {
  > div {
    padding: 0.6em;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: whitesmoke;

    img{
      border-radius: 6px;
      border: 1px solid gray;
      overflow: hidden;
      background-color: white;
    }

    h3{
      margin-bottom: 0px;
    }
    p{
      margin-top: 0px;
    }

    &.promotion{
      >h4{
        display: none;
      }
    }
  }

  .palindrome {
    .promotion-details{
      display: inline-block;
    }
    h4:nth-child(1){
      display: inline;
      text-decoration: line-through;
      color: gray;
    }
    h4:nth-child(3){
      margin: 0px;
    }
    i{
      font-size: 80%;
      background-color: red;
      color: white;
      font-style: normal;
      font-weight: bold;
      padding: 0.2em 0.4em;
      border-radius: 6px;
      margin-left: 0.4em;
    }
  }
}

